:root {
  --vp-c-brand-1: #8483d8;
  --vp-c-brand-2: #bb83d8;
  --vp-c-brand-3: #93C591;
  --vp-code-color: #292936;
  --vp-button-brand-bg: #8483D8;

  /* Hero Background Image */
  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    rgba(132, 131, 216, 0.4) 40%,
    rgba(187, 131, 216, 0.2) 50%
  );
  --vp-home-hero-image-filter: blur(44px);

  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    90deg,
    #8483d8,
    rgb(187, 131, 216)
  );
  
  --vp-button-brand-text: #191A21;
  --vp-button-brand-hover-text: #191A21;
  
  --vp-button-alt-text: #D1D2E8;
  --vp-button-alt-bg: #292936;
  --vp-button-alt-hover-text: #D1D2E8;
  --vp-button-alt-hover-bg: #3D3D50;
  
  --vp-custom-block-tip-bg: #323242;
  --vp-custom-block-important-bg: #8483d84d;
  --vp-custom-block-important-code-bg: #2e2e47;
  
  --vp-sidebar-bg-color: #191A21;
}

:root {
  --vp-c-bg: #ffffff;
  --vp-c-bg-alt: #f6f6f7;
  --vp-c-bg-elv: #ffffff;
  --vp-c-bg-soft: #f6f6f7;
}

.dark {
  --vp-c-bg: #1D1E27;
  --vp-c-bg-alt: #292936;
  --vp-c-bg-elv: #191A21;
  --vp-c-bg-soft: #292936;
}

:root {
  --vp-c-text-1: #3c3c43;
  --vp-c-text-2: #67676c;
  --vp-c-text-3: #929295;
}

.dark {
  --vp-c-text-1: #D1D2E8;
  --vp-c-text-2: #a8a8cf;
  --vp-c-text-3: #7B7B9F;
}

:root {
  --vp-c-border: #c2c2c4;
  --vp-c-divider: #e2e2e3;
  --vp-c-gutter: #e2e2e3;
}

.dark {
  --vp-c-border: #3F3F52;
  --vp-c-divider: #3F3F52;
  --vp-c-gutter: #3F3F52;
}

.dark {
  --vp-code-color: #D1D2E8;
}

.badge {
  font-size: 0.5em;
  line-height: normal;
}
